<!-- Index -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href=`{% url 'list-add'%}`">Add a
            new list</button>
        <br><br>
    </div>
</div>
<div class="row">
    <div class="col-md-12 card">
        <div class="col-md-1 mb-4">
            <br>
            <h2>All Lists </h2>
        </div>
        <div class="card-body">
            <ul>
                {% for todolist in object_list %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <li>
                                    <button type="button" class="btn btn-outline-primary btn-lg"
                                        onclick="location.href=`{% url 'list' todolist.id %}`" class="text-center">
                                        {{todolist.title}}
                                    </button>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {%empty%}
                <h4> You have no lists!</h4>
                <br>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock  %}