<!-- Trello-inspireret UI/UX med lodrette kolonner og knap ved siden af kortene -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <h3 class="col-md-12">Title: {{ todo_list.title | upper }}</h3>
    <div class="row mt-3 mb-3">
        <div class="col-md-12">
            <button type="button" class="btn btn-danger btn-lg"
                onclick="location.href=`{% url 'list-delete' todo_list.id %}`">Delete This List</button>
        </div>
    </div>
    <!-- To Do Column -->
    <div class="col-md">
        <div class="card">
            <div class="card-header bg-primary text-white">
                To Do
            </div>
            <div class="card-body">
                {% for todo in object_list %}
                <div class="card mb-3">
                    <div class="card-body bg-light">
                        <h5 class="card-title"><b>Title:</b> {{ todo.title }}</h5>
                        <p class="card-text"><b>Description:</b> {{ todo.description }}</p>
                        <p class="card-text">End Date: {{ todo.due_date | date:"l, F j" }}</p>
                        <a href="{% url 'item-update' todo_list.id todo.id %}" class="btn btn-info">Edit</a>
                    </div>
                </div>
                {% empty %}
                <p>There are no to-do items in this list.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- In Progress Column -->
    <div class="col-md droppable">
        <div class="card">
            <div class="card-header bg-warning">
                In Progress
            </div>
            <div class="card-body">
                {% if todos_in_progress %}
                {% for todo in todos_in_progress %}
                <div class="card mb-2">
                    <div class="card-body bg-primary">
                        <h5 class="card-title">{{ todo.title }}</h5>
                        <p class="card-text">{{ todo.description }}</p>
                        <p class="card-text">End Date: {{ todo.due_date | date:"l, F j" }}</p>
                        <a href="{% url 'item-update' todo_list.id todo.id %}" class="btn btn-info">Edit</a>
                    </div>
                </div>
                {% empty %}
                <p>No tasks in this column</p>
                {% endfor %}
                {% else %}
                <p>No tasks in this column</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Done Column-->
    <div class="col-md droppable">
        <div class="card">
            <div class="card-header bg-success text-white">
                Done
            </div>
            <div class="card-body">
                {% for todo in todos_done %}
                <div class="card mb-2 droppable">
                    <div class="card-body">
                        <h5 class="card-title">{{ todo.title }}</h5>
                        <p class="card-text">{{ todo.description }}</p>
                        <p class="card-text">End Date: {{ todo.due_date | date:"l, F j" }}</p>
                        <a href="{% url 'item-update' todo_list.id todo.id %}" class="btn btn-outline-info">Edit</a>
                    </div>
                </div>
                {% empty %}
                <p>No tasks in this column</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Add New Task Button -->
    <div class="col-md">
        <div class="card">
            <div class="card-header bg-light">
                Add New Task
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-light "
                    onclick="location.href=`{% url 'item-add' todo_list.id %}`">Add new item..</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}