<!-- todo_list/todo_app/templates/todo_app/todo_list.html -->
{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div>
            <h3>Edit list:</h3>
        </div>
        <div class="card col-sm-6">
            <div class="card-body">
                <h5><b>List navn: {{ todo_list.title | upper }}</b></h5>
                <ul>
                    {% for todo in object_list %}
                    <li>
                        <div>
                            <a onclick="location.href='{% url 'item-update' todo_list.id todo.id %}'">
                                <br>
                                Title: {{ todo.title }}
                                <br>
                                Description: {{ todo.description }}
                                {% comment %} (Due {{ todo.due_date | date:"l, F j"}}) {% endcomment %}
                            </a>
                        </div>
                    </li>
                    {% empty %}
                    <p>There are no to-do items in this list.</p>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary btn-lg"
                onclick="location.href=`{% url 'item-add' todo_list.id %}`">Add New Item</button>
            <br>
            <button type="button" class="btn btn-danger btn-lg"
                onclick="location.href=`{%url 'list-delete' todo_list.id%}`">Delete This
                List</button>
        </div>
    </div>
</div>
{% endblock %}