<!-- todo_list/todo_app/templates/todo_app/todo_list.html -->
{% extends "base.html" %}
{% block content %}
<div>
    <div>
        <div>
            <h3>Edit list:</h3>
            {% comment %} <h5>{{ todo_list.title | upper }}</h5> {% endcomment %}
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5>{{ todo_list.title | upper }}</h5>

                <ul>
                    {% for todo in object_list %}
                    <li>
                        <div>
                            <a onclick="location.href='{% url 'item-update' todo_list.id todo.id %}'">
                                {{ todo.title }}
                                (Due {{ todo.due_date | date:"l, F j"}})
                            </a>
                        </div>
                    </li>
                    {% empty %}
                    <p>There are no to-do items in this list.</p>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <p>
            <button type="button" class="btn btn-primary"
                onclick="location.href=`{% url 'item-add' todo_list.id %}`">Add a new item</button>
            <button type="button" class="btn btn-danger"
                onclick="location.href=`{%url 'list-delete' todo_list.id%}`">Delete this
                list</button>
        </p>
    </div>
</div>
{% endblock %}