<!-- Base template-->
<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--CSS links-->
  {% bootstrap_css %}
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <!--CSS custom-->
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <title>Django To-do Lists</title>

</head>

<body>
  <div>
    <h1 onclick="location.href=`{% url 'index' %}`"> Django To-do Lists
    </h1>
    <br><br>
  </div>
  <div>

    {% block content %}
    {% endblock %}

  </div>
</body>

</html>