<!-- Base template-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--CSS-->
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <!--CSS-->
  <title>Django To-do Lists</title>
</head>

<body>
  <div>
    <h1 onclick="location.href=`{% url 'index' %}`">    Django To-do Lists
  </h1>
  </div>
  <div>
    
    {% block content %}
      
    {% endblock %}
      
  </div>
</body>
</html>